<div class="container">

  <h1>Catálogo de solicitudes pendientes</h1>

  <form action="/solicitud/catalogo/filtro/" method="post">
    <label for="categoria">Filtra por categória</label>
    <select id="categoria" name="categoria">
      <option value="otros">Otras</option>
      <option value="bricolaje">Bricolaje</option>
      <option value="cuidados">Cuidados</option>
      <option value="mascotas">Mascotas</option>
      <option value="transporte">Transporte</option>
      <option value="alimentacion">Alimentacion</option>

    </select>
    <button type="submit">Filtrar</button>
  </form>

  <div class="row g-3">
    {{#each this.respuesta}}
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="{{this.imagenSolicitud}}" class="card-img-top" alt="" />
        <div class="card-body">
          <h5 class="card-title">{{this.titulo}}</h5>
          <p class="card-text">Solicitante: <a
              href="/usuario/{{this.usuarioCreador._id}}/detalles">{{this.usuarioCreador.nombreCompleto}}</a></p>
          <p class="card-text">Descripción: {{this.descripcion}}</p>
          <a href="/solicitud/{{this._id}}/detalles">Ver más</a>

          {{#usuarioCreador ../isLoggin this.usuarioCreador._id }}
          <form action="/solicitud/{{this._id}}/catalogo" method="post">
            <button class="btn btn-outline-secondary">¡Yo me encargo!</button>
          </form>
          {{/usuarioCreador}}
        </div>

        {{#if ../isUserAdmin }}
        <form action="/usuario/perfil/mis-solicitudes-prestadas" method="post">
          <button>Eliminar solicitud</button>
          <input type="hidden" name="_id" value="{{this._id}}">
        </form>
        {{/if}}

      </div>
    </div>
    {{/each}}

  </div>

</div>