<div class="container">
  <h1>Catálogo de solicitudes completadas</h1>

  <div class="row g-3">
    {{#each this.solicitudesCompletadas}}
    <div class="col">
      <div class="card" style="width: 18rem;">
        <a href="/solicitud/{{this._id}}/detalles"><img src="{{this.imagenSolicitud}}" class="card-img-top"
            alt="{{this.titulo}}" /></a>
        <div class="card-body">
          <h5 class="card-title">{{this.titulo}}</h5>
          <p class="card-text"><strong>Solicitante:</strong> <a
              href="/usuario/{{this.usuarioCreador._id}}/detalles">{{this.usuarioCreador.nombreCompleto}}</a></p>
          <p class="card-text"><strong>Prestante:</strong> <a
              href="/usuario/{{this.usuarioPrestante._id}}/detalles">{{this.usuarioPrestante.nombreCompleto}}</p></a>
          <p class="card-text"><strong>Descripción: </strong>{{this.descripcion}}</p>
          <p><a href="/solicitud/{{this._id}}/detalles">Ver más</a></p>

          <p>
            {{#if ../isUserAdmin }}
          <form action="/usuario/perfil/mis-solicitudes-prestadas" method="post">
            <button class="btn btn-danger">Eliminar solicitud</button>
            <input type="hidden" name="_id" value="{{this._id}}">
          </form>
          {{/if}}

        </div>
      </div>
    </div>
    {{/each}}

  </div>

</div>