<div class="container">
  <h1>Catálogo de solicitudes pendientes</h1>

  <form action="/solicitud/catalogo/filtro/" method="post">
    <div class="row g-3">
      <div class="col-sm-7">
        <select class="form-select" id="categoria" name="categoria">
          <option value="todas">Selecciona una categoría:</option>
          {{#each this.categoriaSeleccionada }}
          {{#if this.isSelected}}
          <option value="{{this.name}}" selected="true">{{this.name}}</option>
          {{else }}
          <option value="{{this.name}}">{{this.name}}</option>
          {{/if}}
          {{/each}}
        </select>
      </div>
      <div class="col-sm">
        <button class="btn btn-outline-primary" type="submit">Filtrar</button>
      </div>

    </div>

  </form>

  <div class="row g-3">
    {{#each this.respuesta}}
    <div class="col">
      <div class="card" style="width: 18rem;">
        <a href="/solicitud/{{this._id}}/detalles"><img src="{{this.imagenSolicitud}}" class="card-img-top"
            alt="{{this.titulo}}" /></a>
        <div class="card-body">
          <h5 class="card-title">{{this.titulo}}</h5>
          <p class="card-text"><strong>Solicitante:</strong> <a
              href="/usuario/{{this.usuarioCreador._id}}/detalles">{{this.usuarioCreador.nombreCompleto}}</a></p>
          <p class="card-text"><strong>Descripción: </strong>{{this.descripcion}}</p>
          <p class="card-text"><a href="/solicitud/{{this._id}}/detalles">Ver más</a></p>

          {{#usuarioCreador ../isLoggin this.usuarioCreador._id }}
          <form action="/solicitud/{{this._id}}/catalogo" method="post">
            <p><button class="btn btn-outline-secondary">¡Yo me encargo!</button></p>
          </form>
          {{/usuarioCreador}}


          {{#if ../isUserAdmin }}

          <form action="/usuario/perfil/mis-solicitudes-prestadas" method="post">
            <p><button class="btn btn-danger">Eliminar solicitud</button>
              <input type="hidden" name="_id" value="{{this._id}}">
            </p>
          </form>
          {{/if}}
        </div>
      </div>
    </div>
    {{/each}}

  </div>

</div>