<div>

  <h1>Catálogo de solicitudes pendientes</h1>

  <form action="/solicitud/catalogo/filtro/" method="post">
    <label for="categoria">Filtra por categória</label>
    <select id="categoria" name="categoria">
      <option value="otros">Otras</option>
      <option value="bricolaje">Bricolaje</option>
      <option value="cuidados">Cuidados</option>
      <option value="mascotas">Mascotas</option>
      <option value="transporte">Transporte</option>
      <option value="alimentacion">Alimentacion</option>

    </select>
    <button type="submit">Filtrar</button>
  </form>

  {{#each this.respuesta}}
  <div>
    <h3>{{this.titulo}}</h3>
    <p>Solicitante: <a href="/usuario/{{this.usuarioCreador._id}}/detalles">{{this.usuarioCreador.nombreCompleto}}</p>
    </a>
    <p>Descripción: {{this.descripcion}}</p>
    <img src="{{this.imagenSolicitud}}" alt="" width="200px" />
    <p><a href="/solicitud/{{this._id}}/detalles">Ver más</a></p>

    <br />

    {{#usuarioCreador ../isLoggin this.usuarioCreador._id }}
    <form action="/solicitud/{{this._id}}/catalogo" method="post">
      <button>¡Yo me encargo!</button>
    </form>
    {{/usuarioCreador}}


    {{#if ../isUserAdmin }}
    <form action="/usuario/perfil/mis-solicitudes-prestadas" method="post">
      <button>Eliminar solicitud</button>
      <input type="hidden" name="_id" value="{{this._id}}">
    </form>
    {{/if}}
    <hr>
  </div>
  {{/each}}

</div>