<h1> Tu solicitud </h1>

{{this.solicitudObjecto}}
{{this.solicitudObjeto.imagenSolicitud}}


<h3>{{this.solicitudObjecto.titulo}}</h3>
<p>Solicitante: {{this.solicitudObjecto.usuarioCreador.nombreCompleto}}</p>
<p>Descripción: {{this.solicitudObjecto.descripcion}}</p>
<p>Categoría: {{this.solicitudObjecto.categoria}}</p>
<p>Fecha de servicio: {{this.solicitudObjecto.fechaServicio}}</p>
<img src="{{this.solicitudObjeto.imagenSolicitud}}" alt=""/> 
<h3>Cambiar la imagen de perfil</h3>

  <form
    action="/solicitud/subir-imagen-solicitud"
    method="post"
    enctype="multipart/form-data"
  >

    <input type="hidden" name="_id" value="{{this.solicitudObjecto._id}}">

    <label for="imagenSolicitud">Imagen de la solicitud</label>
    <input type="file" name="imagenSolicitud" />

    <button>Agregar</button>

  </form>