<h1> Tu solicitud </h1>

<h3>{{this.solicitudObjecto.titulo}}</h3>
<p>Solicitante: {{this.solicitudObjecto.usuarioCreador.nombreCompleto}}</p>
<p>Descripción: {{this.solicitudObjecto.descripcion}}</p>
<p>Categoría: {{this.solicitudObjecto.categoria}}</p>
<p>Fecha de servicio: {{this.solicitudObjecto.fechaServicio}}</p>
<img src="" alt="">