<div class="container">

  <h1> {{this.solicitudOb.titulo}}</h1>


  <p><strong>Solicitante: </strong> {{this.solicitudOb.usuarioCreador.nombreCompleto}}</p>
  <p><strong>Descripción: </strong> {{this.solicitudOb.descripcion}}</p>
  <p><strong>Categoría: </strong> <a
      href="/solicitud/catalogo/pendientes/{{this.solicitudOb.categoria}}">{{this.solicitudOb.categoria}}</a></p>

  <p><strong>Fecha de servicio:</strong> {{this.dateFormat}}</p>
  <img src="{{this.solicitudOb.imagenSolicitud}}" alt="" width="300px" />

  <div class="container">
    <h5>Cambiar la imagen de la solicitud</h5>
    <form action="/solicitud/subir-imagen-solicitud" method="post" enctype="multipart/form-data">

      <input type="hidden" name="_id" value="{{this.solicitudOb._id}}" />

      <input type="file" name="imagenSolicitud" />

      <button>Agregar</button>

    </form>
  </div>


  {{#usuarioLogeado usuarioLogeado this.solicitudOb.usuarioCreador._id }}

  <a href="/solicitud/{{this.solicitudOb._id}}/editar" class="btn btn-outline-primary" tabindex="-1" role="button"
    aria-disabled="true">Editar solicitud</a>
  {{/usuarioLogeado}}
</div>