<div class="container">

  <h1>Usuarios registrados en el web</h1>

  <div class="row g-3">
    {{#each this.todosUsuarios}}
    <div class="col">
      <div class="card" style="width: 18rem;">
        <a href="/usuario/{{this._id}}/detalles"><img src="{{this.imagen}}" class="card-img-top"
            alt="{{this.nombreCompleto}}" /></a>
        <div class="card-body">
          <h5 class="card-title">{{this.nombreCompleto}}</h5>
          <a href="/usuario/{{this._id}}/detalles">Ver perfil completo</a>

          {{#usuarioCreador ../isLoggin this._id }}
          <form action="/usuario/{{this._id}}/detalles" method="post">
            <input type="hidden" name="_id" value="{{this._id}}">
            <button class="btn btn-outline-primary"> <i class="fa fa-heart"></i> Añadir a favoritos</button>
          </form>
          {{/usuarioCreador}}

        </div>
      </div>
    </div>
    {{/each}}

  </div>

</div>