<div class="container">
  <h3>Perfil público de: {{this.usuarioObj.nombreCompleto}}</h3>
  <p>Correo electrónico: {{this.usuarioObj.correo}}</p>
  <img src="{{this.usuarioObj.imagen}}" width="300px" />
  <br>


  {{#usuarioCreador this.isLoggin this.usuarioObj._id }}
  <form action="/usuario/{{this.usuarioObj._id}}/detalles" method="post">
    <input type="hidden" name="_id" value="{{this.usuarioObj._id}}">
    <br>
    <button class="btn btn-outline-primary"> <i class="fa fa-heart"></i> Añadir a favoritos</button>
  </form>
  {{/usuarioCreador}}


  <hr>
  <div class="col-md derecha">
    <a href="/usuario/catalogo" class="btn btn-outline-primary" tabindex="-1" role="button" aria-disabled="true">Ver
      todos los usuarios</a>
  </div>

</div>