<div>
  <h1>Bienvenido a tu perfil!</h1>

  <p>Hola {{this.usuarioDetalles.nombreCompleto}}</p>
  <p>Correo electrónico: {{this.usuarioDetalles.correo}}</p>
  <img src="{{this.usuarioDetalles.imagen}}" width="300px" />

  <h3>Cambiar la imagen de perfil</h3>

  <form
    action="/usuario/subir-imagen-perfil"
    method="post"
    enctype="multipart/form-data"
  >

    <label for="imagen">Imagen de perfil</label>
    <input type="file" name="imagen" />

    <button>Agregar</button>

  </form>

  <br />
  <a href="/usuario/{{this.usuarioDetalles._id}}/interacciones">Ver mis usuarios
    favoritos</a>
  <br />
  <a href="/usuario/perfil/mis-solicitudes-creadas">Mis solicitudes creadas en curso</a>
  <br />
  <a href="/usuario/perfil/mis-solicitudes-prestadas">Mis solicitudes prestadas en curso</a>
  <br />
   <a href="/usuario/perfil/historial-solicitudes-creadas-completadas">Historial de solicitudes creadas</a>
  <a href="/usuario/perfil/{{this.usuarioDetalles._id}}/edit">Editar perfil</a>

</div>