<div>

<h1>Mis solicitudes en curso</h1>

{{#each this.solEnProg}}
<div>
    <h3>Título: {{this.titulo}}</h3>
    <p>Descripción: {{this.descripcion}}</p>
    <p>Prestante: {{this.usuarioBeneficiario.nombreCompleto}}</p>
    <p>Solicitante: {{this.usuarioCreador.nombreCompleto}}</p>
    <img src="{{this.imagenSolicitud}}" alt="">
</div>
{{/each}}

</div>