<div>

  <h1>Mis solicitudes prestadas en curso</h1>

  {{#each this.solEnProg}}
    <div>
      <h3>Título: {{this.titulo}}</h3>
      <p>Descripción: {{this.descripcion}}</p>
      <p>Prestante: {{this.usuarioPrestante.nombreCompleto}}</p>
      <p>Solicitante: {{this.usuarioCreador.nombreCompleto}}</p>
      <img src="{{this.imagenSolicitud}}" alt="" width="300px"/>
      <form action="/usuario/perfil/mis-solicitudes-prestadas" method="post">
        <button>Eliminar solicitud</button>
        <input type="hidden" name="_id" value="{{this._id}}">
      </form>
      <form action="/usuario/perfil/mis-solicitudes-prestadas/completadas" method="post">
        <button>¡Solicitud completada!</button>
        <input type="hidden" name="_id" value="{{this._id}}">
      </form>
    </div>
  {{/each}}

</div>